.background {
    height: var(--menuHeight);
    background-color: var(--backgroundMenuColor);
}

.wrapper {
    width: var(--containerWidth);
    height: var(--menuHeight);
    margin: auto;
    display: flex;
    align-items: center;
    gap: var(--spacingMedium);
    list-style-type: none;
}

.nav_link {
    color: var(--textMenuColor);
    font-size: var(--fontSizeBase);
    font-weight: var(--fontWeightLight);
    text-decoration: none;
}

.nav_link:hover {
    color: var(--linkHoverColor);
}

.active {
    color: var(--linkHoverColor);
    font-size: var(--fontSizeBase);
    text-decoration: none;
}

.logo {
    height: var(--logoHeight);
}
