.container {
    width: var(--containerWidth);
    margin: auto;
    padding-bottom: var(--spacingMedium);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--spacingSmall);
}

.link {
    text-decoration: none;
}
